*{
    box-sizing: border-box;
}
body{
    background-color: #EEF9BF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}
h1{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    color: #75B79E;
    margin-bottom: 47px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 34px;
    width: 60%;
}
.cartas{
    height: 146px;
    width:117px;
    background: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cartas img{
    width: 100px;
    height: 100px;
}